@import 'node_modules/bootstrap/scss/bootstrap';

.grid-container {
  height: 100vh;

  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 60px 1fr 30px;

  .sidebar {
    grid-row: 1 / 4;
  }

  .content {
    overflow-y: scroll;
  }

  .footer {
    @extend .text-muted;
    text-align: center;
  }
}

.rfc-list {
  height: 100%;

  display: grid;
  grid-template-rows: 60px 1fr 30px;

  &__header {
    justify-self: center;
    align-self: center;
  }

  &__content {
    overflow-y: scroll;

    @extend .list-group;
  }

  &__footer {
    justify-self: center;
  }
}

.rfc-item {
  @extend .list-group-item;
  @extend .list-group-item-action;

  &--selected {
    z-index: 2;
    color: $white!important;
    background-color: $primary!important;
    border-color: $primary!important;

    a {
      color: $purple;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    @extend .h5;
    @extend .mb-1;

    margin-bottom: .25rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}